@import 'reset';
@import 'reg_loginheader';
@import '../lib/jquery-gdsZoom/jquery.gdsZoom';
@import 'footer';
body{background-color:#fff;}
.header{
	padding:30px 20px;
	overflow:hidden;
	background-color:#fff;
	.logo{float:left;}
	.rtl{margin-left:200px;	float:left;
			margin-top:10px;
			height:61px;
			.mallSearch{
				width: 492px;
				height:61px;
				.searchbox{
					width:490px;
					
					form{
						
					    font-size: 12px;
					  	height:37px;
					    width:490px;
					    height:37px;
					}
					.search{
						margin-left:2px;
						width:420px;
						height: 34px;
					    line-height: 34px;
					    float: left;
					    font-size: 12px;
					    position: relative;
					    border:1px solid #ff5c00;
					}
					.searchBtn{
						 
						width:66px;
						height:38px;
						float:right;
						border:1px solid #ff5c00;
						top:0;
						left:0;
						background: url(./img/newIndexIcon.png) 15px -78px no-repeat;background-color: #ff5c00;
					}
				}
				.hot_key{
					height:14px;
					li{
						float:left;
						color:#999;
						a{color:#999;}
						a:hover{color:#ff5c00;}
					}
					.active_hot a{color:#ff5c00;}
				}
			}
	}
	.shopcart{
		// position:relative;
		float:right;
		.header-shoppingCar {
		    width: 158px;
		    height: 42px;
		    background-position: -140px -240px;
		    position: relative;
		    line-height: 42px;
		    cursor: pointer;
		    a {
			    color: #FFF;
			    font-size: 14px;
			    display: block;
			 
			}
		}
		.icon-shoppingCar {
		    width: 45px;
		    height: 32px;
		    background-position: 0px -30px;
		    position: relative;
		    left: 13px;
		    top: 9px;
		    margin-right: 20px;
		}
		.icon-shopping-amount {
		    width: 43px;
		    height: 38px;
		    background-position: -2px -90px;
		    font-size: 14px;
		    font-family: "Microsoft YaHei";
		    color: #ff5c00;
		    position: absolute;
		    top: 2px;
		    right: 2px;
		    line-height: 38px;
		    cursor: pointer;
		    strong {
			    font-weight: bold;
			    text-align: center;
			    display: inline-block;
			    height: 38px;
			    width: 36px;
			    position: absolute;
			    left: 7px;
			    top: 0;
			}
		}
		.sprite-icon {
		    background-image: url(./img/sprite215new.png);
		    background-repeat: no-repeat;
		    display: inline-block;
		    /* overflow: hidden; */
		    float: left;
		    /* zoom: 1; */
		}
	}

	
}
//导航
.nav{
	background-color:#fff;
	width:100%;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.navbox{
		height:35px;
		background-color:#fff;
		font-size:14px;
		line-height:35px;
		.list li{
			display:block;
			float:left;
			padding: 0 20px;
		    line-height: 35px;
		    position: relative;
		    .haiT-child{
		    	display: none;
			    margin-left: -21px;
			    margin-right: -1px;
			    padding: 0 20px 0 20px;
			    position: absolute;
			    z-index: 999;
			    background-color: #fff;
			    border-bottom: 1px solid #ff9900;
			    border-right: 1px solid #ff9900;
			    border-left: 1px solid #ff9900;
			}
		}
		.list li:nth-type-of(1) a{color:#ff5c00;}
		.currentpage{color:#ff5c00;}
		.hovernow{
			margin:0 1px;
		}
		// .hovernow:hover{border-right:1px solid #ff9900;border-left:1px solid #ff9900;}
		// .hovernow:hover .haiT-child{display:block;}
		.navlist .zhong a{
			position: relative;
		    font-weight: bold;
		    display: block;
		    height: 34px;
		    width: 140px;
		    text-indent: 17px;
		    font-size: 14px;
		    color: #ff5c00;
		    line-height: 35px;
		    border: 1px solid #fff;
		    border-bottom: none;
		}
		.navlist i{
			position: absolute;
		    top: 15px;
		    right: 20px;
		    background: url(./img/top_bar2.png) no-repeat;
		    background-position: -110px -65px;
		    width: 9px;
		    height: 6px;
		}
		.navlist:hover .zhong a i{background-position: -117px -74px;}

		.ui-category {
			font-size:12px;
		    display: none;
		    background: #fff;
		    width: 140px;
		    position: absolute;
		    top: 209px;
		    z-index:999;
		    ul {
			    box-shadow: 2px 2px 2px #ccc;
			}
			.border{
				position:absolute;
				top:0;
				left:0;
				width:140px;
				height:33px;
				border:1px solid #ff5c00;
				border-right-color:#fff;
			}
			.ui-category-list {
			    height: 39px;
			    text-align: center;
			}
			.ui-category-second {
			    position: relative;
			    display: block;
			    text-align: left;
			    text-indent: 40px;
			    height: 37px;
			    border: 1px solid #fff;
			    line-height: 37px;
			    background-color: #fff;
			    width: 139px;
			}
			.ui-cate-icon {
			    vertical-align: middle;
			    background: url(./img/top_bar2.png) no-repeat;
			    display: inline-block;
			    position: absolute;
			    left: 15px;
			}
			.ui-cate-icon1 {
			    background-position: -114px 0px;
			    height: 16px;
			    width: 12px;
			    top: 12px;
			}
			.ui-cate-icon2 {
			    background-position: -113px -20px;
			    height: 16px;
			    width: 13px;
			    top: 11px;
			}
			.ui-cate-icon3 {
			    background-position: -131px 0px;
			    height: 16px;
			    width: 10px;
			    top: 10px;
			}
			.ui-cate-icon4 {
			    background-position: -146px -4px;
			    height: 13px;
			    width: 12px;
			    top: 13px;
			}
			.ui-cate-icon5 {
			    background-position: -129px -21px;
			    height: 16px;
			    width: 12px;
			    top: 11px;
			}
			.ui-cate-icon6 {
			    background-position: -146px -22px;
			    height: 16px;
			    width: 13px;
			    top: 11px;
			}
			.ui-cate-icon7 {
			    background-position: -113px -41px;
			    height: 16px;
			    width: 16px;
			    top: 11px;
			}
			 .ui-cate-icon8 {
			    background-position: -131px -41px;
			    height: 16px;
			    width: 15px;
			    top: 10px;
			}
			.ui-cate-icon9 {
			    background-position: -151px -41px;
			    height: 16px;
			    width: 15px;
			    top: 11px;
			}
			.ui-cate-arr {
			    display: inline-block;
			    background: url(./img/xinmayup.png) no-repeat;
			    background-position: -117px -84px;
			    width: 6px;
			    height: 9px;
			    position: absolute;
			    top: 15px;
			    right: 15px;
			}
			.ui-category-third {
				a:hover{color:#ff5c00;}
			    display: none;
			    overflow: hidden;
			    width: 948px;
			    min-height: 349px;
			    position: absolute;
			    top: 0px;
			    left: 141px;
			    background: #fff;
			    border: 1px solid #ff5c00;
			    .ui-cate-left {
			    	overflow:hidden;
				    float: left;
				    width: 735px;
				    padding-bottom: 9999px;
				    margin-bottom: -9999px;
				    .ui-cate-left-box {
				    	overflow:hidden;
					    padding: 9px 30px;
					    dl {
						    text-align: left;
						    dt {
							    padding: 3px 0 3px 0;
							    border-bottom: 1px dotted #e4e4e4;
							    font-weight: bold;
							    color: #484848;
							}
							 dd {
							    padding: 5px 0;
							    color: #DADADA;
							    line-height: 20px;
							    word-break: break-word;
							    a {
							    	font-size:12px;
								    margin: 0 5px 0 0;
								    color: #888;
								    white-space: nowrap;
								}
								a:hover{color:#ff5c00 !important;}
							}
						}
					}
				}
				.ui-cate-right {
				    float: right;
				    width: 210px;
				    border-left: 1px dotted #e4e4e4;
				    padding-bottom: 9999px;
				    margin-bottom: -9999px;
				    .ui-brand-list {
					    overflow: hidden;
					    a {
						    width: 50%;
						    float: left;
						}
						 img {
						    width: 80px;
						    height: 35px;
						    margin: 10px auto;
						}
					}
					.ui-brand-items img {
					    width: 100%;
					}
				}
			}
		}
}
// .navbox{
// 		height:35px;
// 		background-color:#fff;
// 		font-size:14px;
// 		line-height:35px;
// 		.list li{
// 			display:block;
// 			float:left;
// 			padding: 0 20px;
// 		    line-height: 35px;
// 		    position: relative;
// 		    .haiT-child{
// 		    	display: none;
// 			    margin-left: -21px;
// 			    margin-right: -1px;
// 			    padding: 0 20px 0 20px;
// 			    position: absolute;
// 			    z-index: 999;
// 			    background-color: #fff;
// 			    border-bottom: 1px solid #ff9900;
// 			    border-right: 1px solid #ff9900;
// 			    border-left: 1px solid #ff9900;
// 			}
// 		}
// 		.list li:nth-type-of(1) a{color:#ff5c00;}
// 		.currentpage{color:#ff5c00;}
// 		.hovernow{
// 			margin:0 1px;
// 		}
// 		// .hovernow:hover{border-right:1px solid #ff9900;border-left:1px solid #ff9900;}
// 		// .hovernow:hover .haiT-child{display:block;}
// 		.navlist a{
// 			position: relative;
// 		    font-weight: bold;
// 		    display: block;
// 		    height: 34px;
// 		    width: 140px;
// 		    text-indent: 17px;
// 		    font-size: 14px;
// 		    color: #ff5c00;
// 		    line-height: 35px;
// 		    border: 1px solid #fff;
// 		    border-bottom: none;
// 		}
// 		.navlist i{
// 			position: absolute;
// 		    top: 15px;
// 		    right: 20px;
// 		    background: url(./img/top_bar2.png) no-repeat;
// 		    background-position: -110px -65px;
// 		    width: 9px;
// 		    height: 6px;
// 		}
// 		.navlist .zhong:hover a i{background-position: -117px -74px;}
		
// 		.ui-category {
// 		    display: none;
// 		    background: #fff;
// 		    width: 140px;
// 		    position: absolute;
// 		    top: 35px;
// 		    z-index:999;
// 		    ul {
// 			    box-shadow: 2px 2px 2px #ccc;
// 			}
// 			.ui-category-list {
// 			    height: 39px;
// 			    text-align: center;
// 			}
// 			.ui-category-second {
// 			    position: relative;
// 			    display: block;
// 			    text-align: left;
// 			    text-indent: 40px;
// 			    height: 37px;
// 			    border: 1px solid #fff;
// 			    line-height: 37px;
// 			    background-color: #fff;
// 			    width: 139px;
// 			}
// 			.ui-cate-icon {
// 			    vertical-align: middle;
// 			    background: url(./img/top_bar2.png) no-repeat;
// 			    display: inline-block;
// 			    position: absolute;
// 			    left: 15px;
// 			}
// 			.ui-cate-icon1 {
// 			    background-position: -114px 0px;
// 			    height: 16px;
// 			    width: 12px;
// 			    top: 12px;
// 			}
// 			.ui-cate-icon2 {
// 			    background-position: -113px -20px;
// 			    height: 16px;
// 			    width: 13px;
// 			    top: 11px;
// 			}
// 			.ui-cate-icon3 {
// 			    background-position: -131px 0px;
// 			    height: 16px;
// 			    width: 10px;
// 			    top: 10px;
// 			}
// 			.ui-cate-icon4 {
// 			    background-position: -146px -4px;
// 			    height: 13px;
// 			    width: 12px;
// 			    top: 13px;
// 			}
// 			.ui-cate-icon5 {
// 			    background-position: -129px -21px;
// 			    height: 16px;
// 			    width: 12px;
// 			    top: 11px;
// 			}
// 			.ui-cate-icon6 {
// 			    background-position: -146px -22px;
// 			    height: 16px;
// 			    width: 13px;
// 			    top: 11px;
// 			}
// 			.ui-cate-icon7 {
// 			    background-position: -113px -41px;
// 			    height: 16px;
// 			    width: 16px;
// 			    top: 11px;
// 			}
// 			 .ui-cate-icon8 {
// 			    background-position: -131px -41px;
// 			    height: 16px;
// 			    width: 15px;
// 			    top: 10px;
// 			}
// 			.ui-cate-icon9 {
// 			    background-position: -151px -41px;
// 			    height: 16px;
// 			    width: 15px;
// 			    top: 11px;
// 			}
// 			.ui-cate-arr {
// 			    display: inline-block;
// 			    background: url(./img/xinmayup.png) no-repeat;
// 			    background-position: -117px -84px;
// 			    width: 6px;
// 			    height: 9px;
// 			    position: absolute;
// 			    top: 15px;
// 			    right: 15px;
// 			}
// 			.ui-category-third {
// 			    display: none;
// 			    overflow: hidden;
// 			    width: 948px;
// 			    min-height: 349px;
// 			    position: absolute;
// 			    top: 0px;
// 			    left: 140px;
// 			    background: #fff;
// 			    border: 1px solid #ff5c00;
// 			}
// 		}
// }
	// .navbox{

	// 	height:35px;
	// 	background-color:#fff;
	// 	font-size:14px;
	// 	line-height:35px;
	// 	.list li{
	// 		display:block;
	// 		float:left;
	// 		padding: 0 20px;
	// 	    line-height: 35px;
	// 	    position: relative;
	// 	    .haiT-child{
	// 	    	display: none;
	// 		    margin-left: -21px;
	// 		    margin-right: -1px;
	// 		    padding: 0 20px 0 20px;
	// 		    position: absolute;
	// 		    z-index: 999;
	// 		    background-color: #fff;
	// 		    border-bottom: 1px solid #ff9900;
	// 		    border-right: 1px solid #ff9900;
	// 		    border-left: 1px solid #ff9900;
	// 		}
	// 	}
	// 	.hovernow{
	// 		margin:0 1px;
	// 	}
	// 	// .hovernow:hover{border-right:1px solid #ff9900;border-left:1px solid #ff9900;}
	// 	// .hovernow:hover .haiT-child{display:block;}
	// 	.navlist a{
	// 		position: relative;
	// 	    font-weight: bold;
	// 	    display: block;
	// 	    height: 34px;
	// 	    width: 140px;
	// 	    text-indent: 17px;
	// 	    font-size: 14px;
	// 	    color: #ff5c00;
	// 	    line-height: 35px;
	// 	    border: 1px solid #fff;
	// 	    border-bottom: none;
	// 	}
	// 	.navlist i{
	// 		position: absolute;
	// 	    top: 15px;
	// 	    right: 20px;
	// 	    background: url(./img/top_bar2.png) no-repeat;
	// 	    background-position: -110px -65px;
	// 	    width: 9px;
	// 	    height: 6px;
	// 	}
	// }

.url{
	height:40px;
	line-height:40px;
	b{font-weight:600;}
	li{float:left;margin-right:10px;}
	a:hover{color:#ff5c00;}
}
.clearfix { display: block;}
// .borderf1 {  border: 1px solid #f1f1f1;}
.conTopLeftBox {
	//border:1px solid #ddd;
    position: relative;
    float: left;
    width: 350px;
    z-index: 2;
    _width: 350px;
    .preview {
    	
	    text-align: center;
	    width: 350px;
	    float: none;
	    position: relative;
	    z-index: 5;
	    .jqzoom {
		   		 // overflow: hidden;
			    _height: 350px;
			    position: relative;
			    zoom: 1;
			    z-index: 10;
		}
		.jqzoom, .jqzoom img {
		    width: 350px;
		    height: 350px;
		}
		.spec {
		    position: relative;
		    width: 350px;
		    height: 64px;
		    overflow: hidden;
		    zoom: 1;
		    .arrowbox {
			    width: 22px;
			    height: 64px;
			    cursor: pointer;
			    .specLeftT {
				    background-position: -195px -330px;
				    left: 4px;
				}
			}
			.specList {
			    width: 320px;
			    height: 57px;
			    position: absolute;
			    text-align: left;
			    overflow: hidden;
			    zoom: 1;
			    top: 0px;
			    left: 19px;
			    display: inline;
			    float: left;
			    margin-left: 2px;
			    margin-top: 4px;
			    ul {
				    position: absolute;
				    width: 320px;
				    left: 2px;
				    li {
					    width: 60px;
					    display: inline;
					    float: left;
					    margin-right: 2px;
					    cursor: pointer;
					    img {
						    width: 50px;
						    height: 50px;
						    border: 1px solid #f1f1f1;
						    padding: 2px;
						    margin-bottom: 1px;
						}

					}

				}
				
			}
			.specList ul li.chosed img {  border-color: #ff5c00;}
			.specRightT {
			    background-position: -212px -330px;
			    right: 4px;
			}
		}
	}
	.sharebox {
	    width: 327px;
	    padding-top: 12px;
	    padding-left: 23px;
	    position: relative;
	    left: 0;
	    top: 0;
	    .bdsharebuttonbox{float:left;}
	    .bdshare-button-style1-24{
			.bds_more {
			    color: #333;
			    float:left;
			} 
			.bds_weixin {  background-position: 0 -1612px;}
  			.bds_tsina { background-position: 0 -104px;}
  			.bds_tqq { background-position: 0 -260px;}
  			.bds_qzone { background-position: 0 -52px;}   
			.bds_tqf {background-position: 0 -364px;}
	    } 
	    .attention {
		    width: 100px;
		    height: 38px;
		    background-image: url(./img/fav.jpg);
		    background-repeat: no-repeat;
		    background-position: 0px 0px;
		    display: block;
		    float: left;
		    cursor: pointer;
		    margin-left: 30px;
		    _display: inline-block;
		    zoom: 1;
		}
	}
}
.conTopConBox{
	h1 {
	    color: #333;
	    font-size: 16px;
	    margin-bottom: 3px;
	    font-weight: bold;
	}
	border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    float: left;
    position: relative;
    padding: 15px 10px 10px;
    min-height: 450px;
    _height: 450px;
    z-index: 1;
    .fahuo-cang{
    	height:18px;
    	i {
		    display: inline-block;
		    width: 0;
		    height: 0;
		    border-top: 8px solid transparent;
		    border-left: 15px solid #f70;
		    border-bottom: 8px solid transparent;
		    vertical-align: -4px;
		    margin-right: 5px;
		}
    }
} 
#summary {
    float: left;
    width:635px;
    li {
	    padding-top: 7px;
	    padding-bottom: 3px;
	    .sx_dt {
		    width: 70px;
		    float: left;
		    color: rgb(153, 153, 153);
		    text-align: center;
		    padding-right: 10px;
		    font-family: 宋体;
		}
		.sx_dd { float: left;}
   

		.pdt5 {padding-top: 5px;}


    
		 
	}
	
}
  
.p_price {
		    height: 27px;
		    line-height: 27px;
		    font-family: tahoma;
		    color: #DE1010;
		    font-size: 20px;
		    font-weight: bold;
}
.bdbtm {
    border-bottom: 1px dotted #ccc;
}
li.choose{height:43px;}
.size_num {
    overflow: hidden;
    zoom: 1;
    display: inline-block;
    li.select a {
	    border: 1px solid #f60;
	    background: url(./img/bg-selected.png) right bottom no-repeat;
	}

    li {

    	overflow:hidden;
	    margin-right: 4px;
	    margin-bottom: 3px;
	    float: left;
	    text-align: center;
	    cursor: pointer;
	    color: #333;
	    background-color: #fff;
	    a {
		    color: #333;
		    border: 1px solid #ccc;
		    display: block;
		    padding: 3px 12px;
		}
	}
}
//.and{  border-bottom: 1px dotted #ccc;}
.i_buy_div {
    border-top: 1px dotted #ccc;
    padding-top: 10px;
    padding-bottom: 8px;
    zoom: 1;
    _padding-top: 8px;
    _padding-bottom: 0;
}
.pdt10 {
    padding-top: 10px;
}
.choose_num_ul {
    overflow: hidden;
    zoom: 1;
    display: inline-block;
    float: left;
}
.computing_num {
    width: 40px;
    height: 40px;
    float: left;
    input {
	    display: block;
	    width: 40px;
	    height: 36px;
	    border: 1px solid #aaa;
	    color: #333;
	    text-align: center;
	    font-weight: bold;
	    font-size: 18px;
	    font-family: Tahoma;
	    line-height: 38px;
	}
}
.computing_act {
    float: left;
    .add { background-position: -230px -310px;}
	.reduce {background-position: -230px -330px;}
	input {
	    display: block;
	    width: 20px;
	    height: 20px;
	    border: 0;
	    cursor: pointer;
	    outline: none;
	}
   
}
.shopping_div {
    height: 45px;
    float: left;
    margin-left: 8px;
    _display: inline;
    a {
	    margin-right: 8px;
	    cursor: pointer;
	    display: inline-block;
	    float: left;
	}
	.shopping_car {
	    width: 148px;
	    height: 41px;
	    background-position: 0 -65px;
	}
}

.phonebuydiv {
    position: relative;
    z-index: 200;
    width: 123px;
    float: left;
}
#phonebuy {
    width: 123px;
    height: 41px;
    background-image: url(./img/phonebuy.jpg);
    cursor: pointer;
}
#m-qrcode {
    position: absolute;
    bottom: 41px;
    left: -19px;
    z-index: 4000;
    display:none;
}
li#choose-amount{height:66px;}
.notice{
	color: #666;
    margin-top: 20px;
    margin-left: 80px;
    span{color: #666666;
    margin-right: 15px;}
}
.historys{
	z-index:999;
	
	text-align:center;
	width:190px;
	float:left;
	img{width:60px;width:60px;margin-left:50px;}
	.price{color:red;}
	a{display:block;text-align:center;}
	h4{border-bottom:1px solid #ddd;line-height:30px;}

	p{height:30px;line-height:30px;width:163px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	ul{overflow-y:scroll;height:445px;}
	li{border-bottom:1px dashed #ddd;padding:10px 5px}
}

.bodyCon{width:1200px;margin:0 auto;border:1px solid #ddd;height:477px;margin-bottom:20px;}

.part3_L-1 {
	float:left;
    width: 100px;
    border: 1px solid #f1f1f1;
    padding: 10px 50px 0;
    text-align: center;
    margin-bottom: 10px;
   height:160px;

   margin-left:32px;
  
    .erwei_code {
	    width: 100px;
	    height: 100px;
	    img{width:100px;}
	}
	.erwei_intro {
	    width: 100px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    color: #666;
	    font-family: "宋体";
	}
}
.picshow{width:900px;float:right;margin-right:100px;}

.content{height:3600px;}
footer{
	overflow:hidden;
	#footer{
	
		overflow:hidden;
	}
	
}
#easyDialogBox{
	margin: -20px 0px 0px -210px;
    padding: 0px;
    border: none;
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    .jumpBox {
	    width: 420px;
	    overflow: hidden;
	    display: none;
	    background-color: #fff;
	    display: block;
    	margin: 0px;
	}
	.closeff {
	    width: 13px;
	    height: 13px;
	    background: url(./img/status.png) no-repeat 0 0;
	    position: absolute;
	    top: 13px;
	    right: 15px;
	    cursor: pointer;
	}
	.jumpTop {
    	height: 40px;
	    background: url(./img/jumpTopbg.png) repeat-x;
	    color: #FFFFFF;
	    line-height: 40px;
	    font-size: 14px;
	    padding-left: 14px;
	    background: #ff5c00;
	    font-weight: bold;
	}
	.jumpIn {
	    border: 1px solid #FF9900;
	    overflow: hidden;
	    background-color: #fff;
	    padding-top: 18px;
	}
	.jumpIn1 {
	    color: #353535;
	    vertical-align: middle;
	    font-size: 16px;
	    margin-left: 30px;
	}
	.jumpicon1, .jumpicon2, .jumpicon3 {
	    vertical-align: middle;
	    display: inline-block;
	    width: 25px;
	    height: 25px;
	    margin-right: 10px;
	}
	.jumpicon1 {background-position: -20px 0;}
    .jumpIn2 {
	    text-align: center;
	    padding: 5px 0;
	    color: #353535;
	    font-size: 14px;
	}
	.jumpIn3 {
	    width: 260px;
	    display:block;
	}
	.jumpIn3, .jumpIn4 {
	    margin: 0 auto;
	    padding-bottom: 18px;
	    overflow: hidden;
	    text-align: center;
	    padding-top: 10px;
	    display: none;
	}
	.status1, .status2 {
	    float: left;
	    width: 100px;
	    height: 30px;
	    display: inline-block;
	    line-height: 30px;
	    text-align: center;
	    color: #353535;
	    text-decoration: none;
	    font-size: 14px;
	    font-weight: bold;
	}
	.status1 {
	    background-position: 0 -50px;
	    background: #eee;
	    margin-right: 50px;
    	border: 1px solid #ddd;
	}
	.status2 {
	    background-position: 0 -85px;
	    color: #FFFFFF!important;
	    background: #ff5c00;
	}

}
.jumpicon1, .jumpicon2, .jumpicon3, .status1, .status2 {
    background: url(./img/status.png) no-repeat;
}

.shopcart dd {
    display: none;
    position: absolute;
    top: 124px;//83
    right: 22px;
    width: 380px;
    .prompt {
	    border: 2px solid #ff5c00;
	    padding: 10px 15px;
	    background: #FFF;
	    position: relative;
	    left: 0;
	    top: 0;
	    overflow: hidden;
	}
	.nogoods {
	    padding-left: 30px;
	    height: 49px;
	    line-height: 49px;
	    overflow: hidden;
	    color: #999;
	    position: relative;
	}
	.icon-redcart {
	    width: 28px;
	    height: 24px;
	    background-position: 0px -60px;
	    display: inline-block;
	    margin-right: 15px;
	    position: relative;
	    top: 10px;
	}
	.NoProducts-words {
	    display: inline-block;
	    height: 28px;
	    line-height: 28px;
	    color: #666;
	    font-size: 14px;
	    font-family: "Microsoft YaHei";
	}
}

#settleup-content {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    width: 380px;
    background: #FFF;
    overflow: hidden;
}
.smt {
    height: 25px;
    padding: 6px 8px;
    background-position: 0 -118px;
    background-repeat: repeat-x;
    border-style: solid solid dotted;
    border-width: 2px 2px 1px;
    border-color: #ff5c00;
    line-height: 25px;
    cursor: default;
     h4 {
	    font-size: 12px;
	    font-weight: bold;
	}
}
.smt, .smc, .smb {
    overflow: hidden;
    zoom: 1;
}

.smc {
    border: solid #ff5c00;
    border-width: 0 2px;
    background: #FFF;
    height: auto!important;
    height: 344px;
    max-height: 344px;
    overflow-y: auto;
    ul {
	    margin-top: -1px;
	    overflow: hidden;
	    li {
		    padding: 10px 10px 0;
		    border-top: 1px dotted #cccccc;
		    line-height: 17px;
		    vertical-align: bottom;
		    overflow: hidden;
		    .mcart-p-box {  height: 62px;}
		    .mcart-p-img {
			    width: 50px;
			    height: 50px;
			    border: 1px solid #dddddd;
			    padding: 0;
			    margin-right: 10px;
			    font-size: 0;
			    float: left;
			    overflow: hidden;
			    img{width:50px;height:50px;}
			}
			.mcart-p-name {
			    width: 165px;
			    height: 52px;
			    word-break: break-all;
			    word-wrap: break-word;
			    float: left;
			    overflow: hidden;
			}
			.mcart-p-detail {
			    word-break: break-all;
			    word-wrap: break-word;
			    text-align: right;
			    float: right;
			    overflow: hidden;
			    .mcart-p-price {
				    color: #999;
				    overflow: hidden;
				}
			}
  
		
		}
	}
	.delete { color: #ff5c00;}

   
}
.smb {
    padding: 8px;
    background: #F5F5F5;
    border: solid #ff5c00;
    border-width: 0 2px 2px;
    text-align: right;
    color: #666;
    .shop_cart-settlement {
	    height: 32px;
	    float: left;
	    padding-top: 4px;
	}
	.mcart-p-price {
	    color: #999;
	    overflow: hidden;
	}
}
.f20, .mcart-p-price strong.f20 {
    font-size: 20px;
    color: #ff5c00 !important;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}
.shop_cart-btn {
    float: right;
}
.icon-btnSettlement {
    float: right;
    width: 103px;
    height: 37px;
    background-position: -190px -90px;
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
}




































