		.sprite-icon {
		    background-image: url(./img/sprite215new.png);
		    background-repeat: no-repeat;
		    display: inline-block;
		    overflow: hidden;
		    float: left;
		    zoom: 1;
		}
#footer{
	overflow:hidden;
	// a:hover{color:#ff5c00 !important;}
	.mall-ensure {
	    height: 105px;
	    background-color: #ff5c00;
	    color: #FFF;
	    box-shadow: 0px -4px 12px rgba(207, 207, 207, 0.75);
	    border-bottom: 1px solid #ff5c00;
	    .mall-ensure-bd-cen {
	    	ul li {
		    float: left;
		    font-family: "Microsoft YaHei";
			}
			dl {
			    padding-left: 25px;
			    padding-top: 30px;
			    width: 285px;
			}
			dt { position: relative;
				h2 {
				    font-size: 24px;
				    font-weight: bold;
				    float: left;
				}
				i {
				    margin-right: 8px;
				    float: left;
				    position: relative;
				    left: 0;
				    top: 2px;
				}
				.icon-quality {
				    width: 33px;
				    height: 31px;
				    background-position: -140px 0px;
				}
				.icon-convenient {
				    width: 38px;
				    height: 27px;
				    background-position: -140px -40px;
				}
				.icon-professional {
				    width: 34px;
				    height: 34px;
				    background-position: -140px -80px;
				}
				.icon-sweet {
				    width: 30px;
				    height: 27px;
				    background-position: -140px -120px;
				}
			}
			dd {
			    font-size: 14px;
			    font-weight: bold;
			    float: right;
			    margin-right: 35px;
			    _display: inline-block;
			}
   		}

	}
	.mall-desc {
		overflow:hidden;
		a:hover{color:#ff5c00 !important;}
	    background-color: #FFF;
	    padding-top: 20px;
	    border-bottom: 1px solid #E0E0E0;
	    padding-bottom: 15px;
	}
	.mall-desc-bd-cen {padding-left: 25px;overflow:hidden;}
    

	.mall-ensure-bd-cen, .mall-desc, .tfc_nav-footer, .tfc_footer { width: 100%;}
   .mall-ensure-bd, .mall-desc-bd, .tfc_footer-bd, .tfc_icp img{margin:0 auto;}
	.mall-desc-bd dl {  float: left;width: 176px;overflow:hidden;
		dd {overflow:hidden;
		    padding: 4px 0;
		    padding-left: 30px;
		}
	}
	.mall-desc-bd dl dt {overflow:hidden;
	    font-size: 14px;
	    padding-top: 6px;
	    padding-bottom: 4px;
	    font-family: "Microsoft YaHei";
	    position: relative;
	    padding-left: 30px;
	    i {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 26px;
		    height: 26px;
		}
		
		.icon-guide { background-position: -90px 0;}
   		.icon-pay {  background-position: -90px -40px;}
  		.icon-distribution {background-position: -90px -80px;}
    	.icon-service {background-position: -90px -120px;}
		.icon-about {background-position: -90px -160px;}
    	.icon-contactUs {background-position: -90px -195px;}
    
		

    



	}
	.weixin-logo {
	    float: left;
	    width: 110px;
	}
	.weixin-logo .weixin-span {  margin: 2px 6px 0;}
	  .weixin-logo span {
	    float: left;
	    display: inline-block;
	}
	
	.clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}

	.tfc_footer {overflow:hidden;
		a:hover{color:#ff5c00 !important;}
	    background-color: #ebebeb;
	    .tfc_footer-bd {
		    padding-top: 15px;
		    line-height: 24px;
		    text-align: center;
		}

		.tfc_nav-footer, .tfc_nav-footer li a, .tfc_copyright{color:#999;}
	}
	.tfc_nav-footer li {
	    display: inline;
	    margin: 0 5px;
	}
  
}