@import 'reset';
@import 'header';
@import '../lib/new.carousel/new.carousel';
@import 'footer';
header{
	background-color:#F5F4F6;
}
.outerbox{
	background: url(./img/outerBg.png) top no-repeat;
	.banner{height:350px;}
	.adtop{margin:20px auto;
		display:flex;
		justify-content:space-between;
		a{
			display:block;
			position:relative;
			img{display:block;}
			.border4{
				width:349px;
				height:139px;
				border:1px solid #FF9900;
				left:0;
				top:0;
				position:absolute;
				display:none;
			}
		}
		a:hover .border4{display:block;}
	}
	.titleImg {
	    margin: 0 31px;
	    background: url(./img/newIndexHeader.png) no-repeat;
	    width: 119px;
	    height: 48px;
	}
	.specialProduct{
		.hotfloor{
			.span1{
				height: 1px;
				width: 450px;
			    background: #ccc;
			    vertical-align: 9px;
			}
			.span3 {
			    background-position: 0 -109px;
			}
			.inblock{display:inline-block;}
		}
		.sgoodlist{ 
			.sitem{
				width:1090px;
				height:296px;
				 margin-bottom: 20px;
				 border-radius: 10px;
				 background-color:#fff;
			    img{
			    	width:598px;
			    	height:296px;
			    	border-radius: 10px;
			    }
			    .rt{
			    	width:458px;height:284px;
			    	margin: 10px 10px 10px 20px;
				    position: relative;
				    width: 458px;
					background-color:#fff;
			    }
			    .site-hot-row-two {
				    padding-top: 5px;
				    height: 32px;
				    border-bottom: 1px solid #e5e5e5;
				    font-size: 20px;
				    font-weight: 700;
				    font-family: "微软雅黑";
				    color: #666;
				    a:hover{color:#ff5c00;}
				}
				.site-hot-row-three {
					height:138px;
				    padding-top: 8px;
				    line-height: 24px;
				    font-size: 15px;
				    font-family: "微软雅黑";
				    color: #666;
				    margin-bottom: 6px;
				    height: 70px;
				    text-overflow: ellipsis;
				    overflow: hidden;
				}
				p{font-size:32px;}
				b:nth-child(1){
					font-size: 18px;
				    font-weight: bold;
				    vertical-align: 2px;
				    margin-right: 3px;
				}
				b:nth-child(2){
					font-size: 16px;
				    font-weight: bold;
				    vertical-align: 3px;
				    margin-left: 3px;
				}
				.site-hot-row-four {
				    position: relative;
				    margin-top: 70px;
				    overflow:hidden;
				}
				.viewbtn{
					position: absolute;
				    right: 0px;
				    top: 0px;
				    border-radius: 200px;
				    background-color: #ff5c00;
				    font-family: "微软雅黑";
				    font-size: 17px;
				    color: #fff;
				    height: 33px;
				    display: block;
				    height: 44px;
				    width: 44px;
				    text-align: center;
				    line-height: 21px;
				    padding: 8px;
				    font-weight: bold;
				}
				.fl{float:left}
				.price{
					color: #df2943;
				    font-family: "微软雅黑";
				    font-size: 20px;
				    line-height: 40px;
				    float: left;
				    margin-right: 20px;
				    margin-top: 15px;
				    font-weight: bold;
				}
			}
			// .sitem:hover{border:1px solid #ff5c00;box-sizing:border-box;}
		}
	}

	.site-floor-dt-fl {
		margin: 20px 0 10px;
		span{display:inline-block;}
		.span1 {
		    height: 1px;
		    width: 450px;
		    background: #ccc;
		    vertical-align: 9px;

		}
		.span2 {  background-position: 0 -165px; }
	}

    .specialProduct{
		.hotfloor{
			.span1{
				height: 1px;
				width: 450px;
			    background: #ccc;
			    vertical-align: 9px;
			}
			.span3 {
			    background-position: 0 -154px;
			}
			.inblock{display:inline-block;}
		}	
	}
	.hgoodslist{ 
				.sitem{
					width:1090px;
					height:296px;
					 margin-bottom: 20px;
					 border-radius: 10px;
					 background-color:#fff;
				    img{
				    	width:598px;
				    	height:296px;
				    	border-radius: 10px;
				    }
				    .rt{
				    	width:458px;height:284px;
				    	margin: 10px 10px 10px 20px;
					    position: relative;
					    width: 458px;
						background-color:#fff;
				    }
				    .site-hot-row-two {
					    padding-top: 5px;
					    height: 32px;
					    border-bottom: 1px solid #e5e5e5;
					    font-size: 20px;
					    font-weight: 700;
					    font-family: "微软雅黑";
					    color: #666;
					    a:hover{color:#ff5c00;}
					}
					.site-hot-row-three {
						height:138px;
					    padding-top: 8px;
					    line-height: 24px;
					    font-size: 15px;
					    font-family: "微软雅黑";
					    color: #666;
					    margin-bottom: 6px;
					    height: 70px;
					    text-overflow: ellipsis;
					    overflow: hidden;
					}
					p{font-size:32px;}
					b:nth-child(1){
						font-size: 18px;
					    font-weight: bold;
					    vertical-align: 2px;
					    margin-right: 3px;
					}
					b:nth-child(2){
						font-size: 16px;
					    font-weight: bold;
					    vertical-align: 3px;
					    margin-left: 3px;
					}
					.site-hot-row-four {
					    position: relative;
					    margin-top: 70px;
					    overflow:hidden;
					}
					.viewbtn{
						position: absolute;
					    right: 0px;
					    top: 0px;
					    border-radius: 200px;
					    background-color: #ff5c00;
					    font-family: "微软雅黑";
					    font-size: 17px;
					    color: #fff;
					    height: 33px;
					    display: block;
					    height: 44px;
					    width: 44px;
					    text-align: center;
					    line-height: 21px;
					    padding: 8px;
					    font-weight: bold;
					}
					.fl{float:left}
					.price{
						color: #df2943;
					    font-family: "微软雅黑";
					    font-size: 20px;
					    line-height: 40px;
					    float: left;
					    margin-right: 20px;
					    margin-top: 15px;
					    font-weight: bold;
					}
				}
				
	}
	.sitem{
		position:relative;
		.border5{
			position:absolute;
			left:0;
			top:0;
			width:1090px;
			height:296px;
			border:1px solid #FF9900;
			border-radius:10px;
			display:none;
		}
	}
	.sitem:hover .border5{display:block;z-index:-1;}
	.uiBrandAreaBox{
		.span3 {background-position: 0 -54px;}
		.ui-brand-box {
		    overflow: hidden;
		    position: relative;
		}	
		.ui-brand-box ul li a {
		    background: #fff;
		    float: left;
		    margin-left: -1px;
		    margin-top: -1px;
		    text-align: center;
		    border: 1px solid #ccc;
		    width: 179px;
		    height: 80px;
		}    
		.ui-brand-box ul li a.big {
		    width:367px;height:161px;
		}    		
		.ui-brand-box ul li .big img {
			    display: block;
			    width: 367px;
			    height: 161px;
		}
	}

}

//吸顶菜单
.ui-fixed-top {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ff5c00;
    background: #fefefe;
    z-index: 99;
    height: 45px;
    .ui-fixed-box {
	    width: 1090px;
	    margin: 0 auto;
	    .ui-fixLogo {
		    background: url(./img/fixLogo.png) no-repeat;
		    display: block;
		    width: 107px;
		    height: 37px;
		    float: left;
		    margin-top: 9px;
		}
	}
	.ui-nav-bar-list {
	    float: left;
	    margin: 5px 0 0 5px;

	    li a {
		    font-size: 14px;
		    position: relative;
		    display: block;
		    color: #ff5c00;
		    font-weight: bold;
		}
	}
	.ui-nav-bar-list li {
	    float: left;
	    padding: 0 15px;
	    line-height: 35px;
	}
	.haiT-nav {
	    padding: 0px 20px;
	    display: block;
	    position: relative;
	    margin: 0 1px;
	    .haiT-child {
		    display: none;
		    margin-left: -16px;
		    margin-right: -1px;
		    position: absolute;
		    top: 35px;
		    z-index: 999;
		    background-color: #ff5c00;
		    color: #fff;
		    border-bottom: 1px solid #ff5c00;
		    border-right: 1px solid #ff5c00;
		    border-left: 1px solid #ff5c00;
		    li {
			    margin: 0;
			}
		}
	}

	.mallSearch {
	    width: 400px;
	    margin-top:3px;
	    position:relative;
	    .mallSearch-form {
		    border: 2px solid #ff5c00;
		    box-shadow: 3px 0px 1px rgba(153, 153, 153, 0.41);
		    .mallSearch-input {
			    height: 35px;
			    line-height: 35px;
			    position: relative;
			    background-color: #ff5c00;
			    .s-combobox {
				    float: left;
				    font-size: 12px;
				    position: relative;
				    width: 88%;
				    .s-combobox-input-wrap {
					    position: relative;
					    vertical-align: middle;
					    width: 100%;
					    height: 35px;
					   	input {
						    display: block;
						    background-color: #FFF;
						    outline: none;
						    border: none;
						    box-sizing: content-box;
						    color: #000;
						    position: relative;
						    z-index: 2;
						    width: 98%;
						    font-weight: 900;
						    margin: 0;
						    padding: 5px 3px 5px 5px;
						  	height: 25px;
						  	line-height:12px;
						  	font-size:12px;
						  	font-weight:500;
						}
					}
				}
			}
			button {
			    	background: #ff5c00;
			        width: 12%;
				    display: block;
				    height: 36px;
				    color: #FFF;
				    line-height: 36px;
				    text-align: center;
				    border: none;
				    font-size: 16px;
				    font-family: "Microsoft YaHei";
				    letter-spacing: 4px;
				    position: absolute;
				    top: 0;
				    right: 0;
				    cursor: pointer;
				    outline: none;

			    .iconimg-searchbtn {
			    	margin-left: 10px;
				    background: url(./img/newIndexIcon.png) -1px -84px no-repeat;
				    display: block;
				    width: 24px;
				    height: 24px;
				}
			}
		}
	}
}	
	
//左侧广告栏
.fixLeftImg {
	display:none;
    position: fixed;
    bottom: 0px;
    left: 10px;
    z-index: 99;
   .fixLeftTop {
	    background: url(./img/leftFixImg.png) no-repeat;
	    width: 125px;
	    height: 230px;
	    position: relative;
	    a {
		    position: absolute;
		    width: 100px;
		    height: 30px;
		    left: 13px;
		}
		.area-hotProductCon {
		    top: 50px;
		}
		.area-specialProductCon {
		    top: 86px;
		}
	}
	.fixLeftAd {
	    margin-left: 3px;
	    .fixLeftAd_close {
		    position: absolute;
		    left: 100px;
		    border: 1px solid #808080;
		    background-color: #fff;
		    display: block;
		    cursor: pointer;
		    border-radius: 50%;
		    width: 15px;
		    height: 15px;
		    text-align: center;
		    line-height: 14px;
		}
		img {
		    width: 106px;
		    margin:0 auto;
		}
	}
}
	
.clearfix {
    zoom: 1;
    display: block;
}

.slidebar{
	position: fixed;
    overflow: visible;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 36px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #ddd;
    box-shadow: -3px 0 17px rgba(0,0,0,0.15);
    .level-dt {
	    position: relative;
	    width: 36px;
	    text-align: center;
	    margin-top:50px;
	    a {
		    position: relative;
		    width: 36px;
		    height: 36px;
		    cursor: pointer;
		    display: block;
		    span {
			    display: inline-block;
			    width: 22px;
			    margin: 12px 0;
			}
		}
		s.level-icon1 {
		    background-position: 0 0;
		}
		s.level-icon2 {
		    background-position: 0 -25px;
		}
		s.level-icon3 {
		    background-position: 0 -50px;
		}
		 s.level-icon4 {
		    background-position: 0 -75px;
		}
		 s.level-icon5 {
		    background-position: -22px -100px;
		}
		 s.level-icon6 {
		    background-position: 0 -130px;
		}
		
	}
	.topline {
	    width: 22px;
	    border-top: 1px solid #eae5e1;
	    display: block;
	    zoom: 1;
	    margin: 0 auto;
	}
	.ok:hover{background-color:#ff5c00;}
	.ok:hover a.main{color:#fff;#cartSlideNum{color:#fff;}}
	.ok{
			height:150px;
			display:block;
			.level-dt{margin-top:30px;} 
	}
	#cartSlideNum{color:#ff5c00;}
	.user{
		a{
			display:block;
		}
	}
	.level-dt s {
	    display: inline-block;
	    background-image: url(http://static.boodoll.cn/mall/v16//images/index/righticon.png);
	    background-repeat: no-repeat;
	    position: relative;
	    font-size: 0;
	    overflow: hidden;
	    zoom: 1;
	    width: 22px;
	    height: 22px;
	    top: 7px;
	}

	.cart{
		position:relative;
		.shopping{
			display:none;
			position:absolute;
			width: 380px;
			left:-380px;
			height:auto;
			top:0;
			background-color:#fff;
			text-align:center;
			.smc {
			    border: solid #ff5c00;
			    border-width: 0 2px;
			    background: #FFF;
			    height: auto!important;
			    height: 344px;
			    max-height: 344px;
			    overflow-y: auto;
			    ul {
				    margin-top: -1px;
				    overflow: hidden;
				    li {
					    padding: 10px 10px 0;
					    border-top: 1px dotted #cccccc;
					    line-height: 17px;
					    vertical-align: bottom;
					    overflow: hidden;
					    .mcart-p-box {  height: 62px;}
					    .mcart-p-img {
						    width: 50px;
						    height: 50px;
						    border: 1px solid #dddddd;
						    padding: 0;
						    margin-right: 10px;
						    font-size: 0;
						    float: left;
						    overflow: hidden;
						    img{width:50px;height:50px;}
						}
						.mcart-p-name {
						    width: 165px;
						    height: 52px;
						    word-break: break-all;
						    word-wrap: break-word;
						    float: left;
						    overflow: hidden;
						}
						.mcart-p-detail {
						    word-break: break-all;
						    word-wrap: break-word;
						    text-align: right;
						    float: right;
						    overflow: hidden;
						    .mcart-p-price {
							    color: #999;
							    overflow: hidden;
							}
						}
			  
					
					}
				}
				.delete { color: #ff5c00;}

   
			}
			.prompt {
			    border: 2px solid #ff5c00;
			    padding: 10px 15px;
			    background: #FFF;
			    position: relative;
			    left: 0;
			    top: 0;
			    overflow: hidden;
			}
			.nogoods {
			    padding-left: 30px;
			    height: 49px;
			    line-height: 49px;
			    overflow: hidden;
			    color: #999;
			    position: relative;
			}
			.icon-redcart {
			    width: 28px;
			    height: 24px;
			    background-position: 0px -60px;
			    display: inline-block;
			    margin-right: 15px;
			    position: relative;
			    top: 10px;
			}
			.NoProducts-words {
			    display: inline-block;
			    height: 28px;
			    line-height: 28px;
			    color: #666;
			    font-size: 14px;
			    font-family: "Microsoft YaHei";
			}
		}
	}

}
.shopcart dd {
    display: none;
    position: absolute;
    top: 124px;//83
    right: 22px;
    width: 380px;
    .prompt {
	    border: 2px solid #ff5c00;
	    padding: 10px 15px;
	    background: #FFF;
	    position: relative;
	    left: 0;
	    top: 0;
	    overflow: hidden;
	}
	.nogoods {
	    padding-left: 30px;
	    height: 49px;
	    line-height: 49px;
	    overflow: hidden;
	    color: #999;
	    position: relative;
	}
	.icon-redcart {
	    width: 28px;
	    height: 24px;
	    background-position: 0px -60px;
	    display: inline-block;
	    margin-right: 15px;
	    position: relative;
	    top: 10px;
	}
	.NoProducts-words {
	    display: inline-block;
	    height: 28px;
	    line-height: 28px;
	    color: #666;
	    font-size: 14px;
	    font-family: "Microsoft YaHei";
	}
}

#settleup-content {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    width: 380px;
    background: #FFF;
    overflow: hidden;
}
.smt {
    height: 25px;
    padding: 6px 8px;
    background-position: 0 -118px;
    background-repeat: repeat-x;
    border-style: solid solid dotted;
    border-width: 2px 2px 1px;
    border-color: #ff5c00;
    line-height: 25px;
    cursor: default;
     h4 {
	    font-size: 12px;
	    font-weight: bold;
	}
}
.smt, .smc, .smb {
    overflow: hidden;
    zoom: 1;
}

.smc {
    border: solid #ff5c00;
    border-width: 0 2px;
    background: #FFF;
    height: auto!important;
    height: 344px;
    max-height: 344px;
    overflow-y: auto;
    ul {
	    margin-top: -1px;
	    overflow: hidden;
	    li {
		    padding: 10px 10px 0;
		    border-top: 1px dotted #cccccc;
		    line-height: 17px;
		    vertical-align: bottom;
		    overflow: hidden;
		    .mcart-p-box {  height: 62px;}
		    .mcart-p-img {
			    width: 50px;
			    height: 50px;
			    border: 1px solid #dddddd;
			    padding: 0;
			    margin-right: 10px;
			    font-size: 0;
			    float: left;
			    overflow: hidden;
			    img{width:50px;height:50px;}
			}
			.mcart-p-name {
			    width: 165px;
			    height: 52px;
			    word-break: break-all;
			    word-wrap: break-word;
			    float: left;
			    overflow: hidden;
			}
			.mcart-p-detail {
			    word-break: break-all;
			    word-wrap: break-word;
			    text-align: right;
			    float: right;
			    overflow: hidden;
			    .mcart-p-price {
				    color: #999;
				    overflow: hidden;
				}
			}
  
		
		}
	}
	.delete { color: #ff5c00;}

   
}
.smb {
    padding: 8px;
    background: #F5F5F5;
    border: solid #ff5c00;
    border-width: 0 2px 2px;
    text-align: right;
    color: #666;
    .shop_cart-settlement {
	    height: 32px;
	    float: left;
	    padding-top: 4px;
	}
	.mcart-p-price {
	    color: #999;
	    overflow: hidden;
	}
}
.f20, .mcart-p-price strong.f20 {
    font-size: 20px;
    color: #ff5c00 !important;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}
.shop_cart-btn {
    float: right;
}
.icon-btnSettlement {
    float: right;
    width: 103px;
    height: 37px;
    background-position: -190px -90px;
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
}





















