@import 'reset';
@import 'reg_loginheader';
@import 'reg_loginfooter';

.clear {
    padding: 0;
    margin: 0;
    clear: both;
}
.logobg{
	background-color:#fff;
	width:100%;
	height:106px;
	.logo{
		overflow:hidden;
		height:106px;
		img{vertical-align:middle;margin-top:20px;}
	}
}

.main{
		padding-top:55px;
	.wrapper{
		.form{
			display:block;
		    border: 0;
		    font-size: 100%;
		    font: inherit;
		    vertical-align: baseline;
		    margin: 0;
		    padding: 0;
		}
		width: 1000px;
	    margin: 0 auto;
	    text-align: left;
	    margin-top: 0px;
		.register-form-height { height: 480px;}
		.sign-content {
		    display: block;
		    border: 1px solid #d3d3d3;
		    zoom: 1;
		    padding: 40px 10px 50px;
		    position: relative;
		    height: 380px;
		    background-color: #fff;
		}
		.sign-nav {
		    position: absolute;
		    top: -38px;
		    left: 42%;
		    margin-left: -253px;
		    ul li {
			    float: left;
			    width: 240px;
			    border: 1px solid #dedede;
			    margin-left: 10px;
			    border-bottom: none;
			    background: #fff;
			    height: 36px;
			    line-height: 35px;
			    text-align: center;
			    background: #f8f8f8;
			    i {
				    width: 36px;
				    height: 20px;
				    background-position: -285px -8px;
				    display: inline-block;
				    vertical-align: -6px;
				}
			     a {
					    font-size: 14px;
					    color: #979797;
					    font-weight: bold;
					}
			}
			ul li.selected{
				background: #fff;
			    border-top: 3px solid #f90;
			    height: 35px; 
			    a{color:#ff5c00;}
			    i{
				    width: 27px;
				    height: 27px;
				    background-position: -257px 1px;
				    display: inline-block;
				    vertical-align: -5px;
				}
			}
		}
		.sign-right {
		    width: 58%;
		    float: right;
		}
		.sign-left {
		    float: right;
		    width: 35%;
		    height: 300px;
			width:340px;
		}
		.register-form li {
		    float: left;
		    line-height: 20px;
		    min-height: 63px;
		    label {
			    display: block;
			    float: left;
			    padding-right: 5px;
			    font-size: 12px;
			    color: #666;
			    font-family: '\5b8b\4f53';
			    .agreement-text {
				    font-size: 12px;
				    padding-left: 5px;
				    line-height: 35px;
				    a{color:#20bfff;}
				}
			}
			label.label {
			    text-align: right;
			    width: 150px;
			    height: 35px;
			    line-height: 35px;
			}
			.inputCont {
			    position: relative;
			    overflow: hidden;
			    width: 320px;
			    float: left;
			   input{
				    width: 239px;
				    vertical-align: baseline;
				    padding: 7px 4px 6px;
				    padding-right: 30px;
				    height: 20px;
				    font-size: 12px;
				    
				}
				.noticeWrap {margin: 2px 0 0 0px;}
    

				    
				.codeWrap { 
					overflow: hidden;
					input{
						float:left;
						width:90px;
						.codetxt {  border: 1px solid #C1C1C1;}
					}
					.submit-signup {
					    width: 228px;
					    height: 40px;
					    border: none;
					    background-position: 0 -31px;
					    cursor: pointer;
					}
				}
   


				.g-ipt {
				    text-align: left;
				    line-height: normal;
				    margin: 0;
				    vertical-align: middle;
				    border: 1px solid #C1C1C1;
				    font-size: 12px;
				    height: 14px;
				    color: #999999;
				    padding: 10px 17px;
				    
				}
				.stickTips {
				    height: 25px;
				    display: block;
				    background: transparent;
    				display: none;
				}
				i.email-icon {
				    position: absolute;
				    width: 34px;
				    height: 28px;
				    background-position: -120px 0px;
				    display: block;
				    top: 4px;
				    left: 238px;
				}
				i.password-icon {
				    position: absolute;
				    width: 34px;
				    height: 30px;
				    background-position: -153px 0px;
				    display: block;
				    top: 2px;
				    left: 238px;
				}
				.argWrap .submit-signup {
				    width: 228px;
				    height: 40px;
				    border: none;
				    background-position:0px -328px;
				    cursor: pointer;
				}
				.codeWrap .get-mobile-code {
				    background-position: 0 0;
				    height: 31px;
				    width: 113px;
				    margin-left: 10px;
				    border: none;
				    margin-top: 8px;
				    cursor: pointer;
				    outline: none;
				}
				.g-ipt-err {
				    text-align: left;
				    line-height: normal;
				    margin: 0;
				    vertical-align: middle;
				    font-size: 12px;
				    height: 14px;
				    border: 1px solid #e60000;
				    color: #e60000;
				    padding: 7px 4px;
				}
				.argWrap {
				    width: 275px;
				    float: left;
				    input.checkbox {
					    vertical-align: middle;
					    margin-top: 11px;
					    width: auto;
					    height: auto;
					    padding: 0;
					    border: none;
					    float: left;
					}
				}
			}
			
		}
		.otherwise {
				float:left;
			    margin-left: 156px;
			    overflow: hidden;
			    .sign-title-right {
				    color: #4d4d4d;
				    font-size: 12px;
				    font-family: '\5b8b\4f53';
				}
				.sign-right-list { margin-top: 5px;}
				.othercount {
				    float: left;
				    margin-right: 10px;
				   a{
					    display: inline-block;
					    width: 24px;
					    height: 24px;
					}
					a.weibo {background-position: -2px -301px;}
					a.alipay {background-position: -28px -301px;}
					a.qq {background-position: -84px -301px;}
				}
		}
	}
}

.noticeWrap-err {
    border: 1px solid #ff9900;
    /* background: #ffedb5; */
    /* color: #e60000; */
    border-radius: 3px;
}
.noticeWrap {
    line-height: 16px;
    color: #000;
    float: left;
    font-family: Verdana, arial, sans-serif;
    text-align: left;
    font-size: 12px;
    padding: 2px 5px 2px 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 7px 0 0 8px;
    overflow: hidden;
    height: 16px;
}
.ico-warning {
    line-height: 166.6%;
    color: #000;
    text-align: left;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url(./img/onError.gif) no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-left: 2px;
    float: left;
}
.txt-err {
    text-align: left;
    font-size: 12px;
    color: #f00;
    float: left;
    padding-left: 3px;
    line-height: 16px;
}
.ico-succ {
    line-height: 166.6%;
    color: #000;
    text-align: left;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url(./img/onSuccess.gif) no-repeat -2px -3px;
    width: 16px;
    height: 16px;
    padding: 0 0 0 5px;
    float: left;
}
.txt-succ {
    text-align: left;
    font-size: 12px;
    color: #0e931c;
    float: left;
    line-height: 16px;
}
#message{font-size:15px;font-weight:600;text-align:center;cursor:pointer;}
#messageTip{text-align:center;p{margin-top:10px;}}