.sprite-icon { background-image: url(./img/sprite215new.png); background-repeat: no-repeat; display: inline-block; overflow: hidden; float: left; zoom: 1; }

a:hover { color: #ff5c00 !important; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.tfc_footer .tfc_footer-bd { padding-top: 15px; line-height: 24px; text-align: center; }

.tfc_footer .tfc_nav-footer, .tfc_footer .tfc_nav-footer li a, .tfc_footer .tfc_copyright { color: #999; }

.tfc_nav-footer li { display: inline; margin: 0 5px; }

footer { margin-top: 50px; background-color: #fff; }
